doctype html
html
    head
        block head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Natours | #{title}
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    
    body(data-alert=`${alert ? alert : ''}`)
        //- HEADER
        include _header
        
        //- CONTENT
        block content
            h1  This is a placeholder heading
        
        //- FOOTER
        include _footer
        
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js')
        //- script(src='/js/mapbox.js')
        //- script(src='/js/login.js')
        script(src='/js/bundle.js')
